.cabecalhoPrincipal .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.cabecalhoPrincipal-nav {
	display: flex;
}

.conteudoPrincipal-cursos{
	display: flex;
	flex-flow: row wrap;
}

.conteudoPrincipal-cursos-link{
	width: 23%;

}
.conteudoPrincipal-cursos-link:nth-child(4n){
	margin-right: 0px;
}

.rodapePrincipal-patrocinadores .container {
	display: flex;
	justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 70%;
	margin-right: 5%;
}

.rodapePrincipal-contatoForm {
	width: 25%;
}

.rodapePrincipal-contatoForm-fieldset {
	display: flex;
}

.rodapePrincipal-navMap-list {
	display: flex;
	/*flex-direction: column;
	flex-wrap: wrap;*/
	flex-flow: column wrap;
	height: 250px;
}

@media screen and (max-width:480px) {
	.cabecalhoPrincipal .container{
		flex-flow: column;
		align-items: initial;
		text-align: center;
	}
	.cabecalhoPrincipal-nav{
		flex-flow: column;		
	}
	.conteudoPrincipal-cursos{
		flex-direction: column;
	}
	.conteudoPrincipal-cursos-link{
		width: 100%;
	}
	.rodapePrincipal-navMap{
		height: auto;
	}

	.rodapePrincipal-patrocinadores .container{
		flex-direction: column;
	}
	.rodapePrincipal-patrocinadores-list-link{
		margin: 20px;
	}